.header {
    background-color: #fff;

    .logo {
        display: flex;
        justify-content: center;

        .logo__img {
            width: 500px;
            padding: 0 .5rem;

            @include celular {
                width: 320px;
            }

        }
    }
        

        .nav {
            position: fixed;
            top: 20px;
            left: 8px;
            z-index: 1;
        }

        .menu__mobile {
            width: 50px;
            margin-bottom: .5rem;
            cursor: pointer;
        }

        .nav__itens {
            display: none;
            flex-direction: column;
        }

        .nav__itens.ativo {
            display: flex;
        }

        .nav__link {
            background-color: $cor-section1;
            padding: .2rem .8rem;
            border-radius: 5px;
            box-shadow: -4px 6px 8px #000;
            display: flex;
            align-items: center;
            gap: 0.4rem;

                &:hover {
                    background-color: $cor-section2;
                    transition: all .6s;
                    box-shadow: 4px 6px 8px #000;
                }
        }

        .nav__icone {
            font-size: 1.1rem;
            color: #fff;

        }

        .nav__item {
            font-family: $fonte-titulo;
            font-size: 1.6rem;
            color: #fff;
        }

}