.header {
    background-color: #fff;

    .logo {
        display: flex;
        justify-content: center;

        .logo__img {
            width: 500px;
            padding: 0 .5rem;

            @include celular {
                width: 320px;
            }

        }
    }

        .nav {
            background-color: #000;
            height: 10vh;
            width: 100%;
            position: fixed;
            z-index: 2;

        }

        .nav__itens {
           display: flex;
           justify-content: center;
           align-items: center;
           gap: .5rem;
           padding-top: .5rem;

        }

        .nav__link {
            background-color: $cor-section1;
            padding: .2rem .8rem;
            border-radius: 5px;
            box-shadow: -4px 6px 8px #000;
            display: flex;
            align-items: center;
            gap: 0.4rem;

                &:hover {
                    background-color: $cor-section2;
                    transition: all .6s;
                    box-shadow: 4px 6px 8px #000;
                }
        }

        .nav__icone {
            font-size: 1.1rem;
            color: #fff;

        }

        .nav__item {
            font-family: $fonte-titulo;
            font-size: 1.6rem;
            color: #fff;
        }

}