.locutores {
    background-color: $cor-section1;

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 320px;
        }

        // .swiper-slide img {
        //     display: block;
        //     width: 100%;
        // }

        .locutores__titulo {
            font-family: $fonte-subtitulo;
            font-size: 3rem;
            color: #fff;
            text-align: center;
            padding: 2rem 0;
        }

        .locutor__info, 
        .locutor__sobre,
        .locutor__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .4rem;
        }

        .locutor__icone {
            font-size: 2rem;
            color: #fff;
        }

        .locutor__nome,
        .locutor_programa {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 2rem;
        }



        
}