.locutores {
    background-color: #fff;

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 320px;
        }

        .locutores__titulo {
            font-family: $fonte-titulo;
            font-size: 4rem;
            color: #000;
            text-align: center;
            padding: 2rem 0;
        }

        .locutor__card {
            background: rgb(45,93,147);
            background: linear-gradient(0deg, rgba(45,93,147,1) 0%, rgba(116,179,206,1) 100%);

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0rem;
        }

        .locutor__img {
            width: 120px;
            border: solid 1px #fff;
            border-radius: 50%;
            padding: .5rem;
        }

        .locutor__info, 
        .locutor__sobre,
        .locutor__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .4rem;
        }

        .locutor__icone {
            font-size: 2rem;
            color: #fff;
        }

        .locutor__nome,
        .locutor_programa {
            font-family: $fonte-corpo;
            color: #fff;
            font-size: 1.3rem;
        }



        
}