.locutores {
    background-color: $cor-section1;

        .swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 320px;
        }

        // .swiper-slide img {
        //     display: block;
        //     width: 100%;
        // }

        .locutores__titulo {
            font-family: $fonte-subtitulo;
            font-size: 3rem;
            color: #fff;
            text-align: center;
            padding: 2rem 0;
        }

        .locutores__card {
            border: 2px solid #000;
            padding: 0.4rem;
        }

        
}