.patrocinadores {
    padding-bottom: 2rem;
}

.patrocinadores__marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;


}

.patrocinadores__marcas--img {
    width: 75px;

    @include celular {
        width: 65px;
        height: 50px;
    }
}