.patrocinio {
    background-color: #fff;
    padding: 1rem;


    @include celular {
        height: 40vh;
    }

        .patrocinador__titulo {
            font-size: 5rem;
            font-family: $fonte-titulo;
            text-align: center;

            @include celular {
                font-size: 3rem;
            }
        }

        .patrocinio__banner {
            position: relative;
            height: 90vh;
            // width: 90vw;

        }

        .banner__img {
            position: absolute;
            box-shadow: 0 0 10px 0px #fff;
            opacity: 0;
            transition: opacity 900ms;
        }

        .selected {
            opacity: 1;
        }



}

