.programacao {
    background: rgb(45,93,147);
    background: linear-gradient(0deg, rgba(45,93,147,1) 0%, rgba(116,179,206,1) 100%);
    padding-bottom: 4rem;

        .prog__cabecalho {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
            align-items: center;
        }

        .prog__titulo {
            font-family: $fonte-titulo;
            font-size: 5rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 4rem;
            padding: 2rem;
            color: #fff;

                @include celular {
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
        }

        .prog__cards--container {
           display: grid;
           place-content: center;
        }

        .prog__cards {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .prog__card {
            position: relative;
            text-align: center;
            width: 550px;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(116,179,206,1) 100%);
            border-radius: 10px;
            box-shadow: 1px 1px 10px 1px #fff;
        }

        .player__radio {
            position: absolute;
        }

        .prog__card--titulo {
            font-family: $fonte-titulo;
            font-size: 4.2rem;
            color: #000;
            cursor: pointer;
            width: 340px;
            margin: 0 auto;

            @include celular {
                font-size: 3.3rem;
            }
        }

        .tabela__prog {
            padding-top: 2rem;
            margin: 0 auto;
            width: 34rem;

            @include celular {
                width: 340px;
            }
        }

        .tabela__info__header {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.6rem;
            color: #fff;
        }

        .tabela__prog__body {

            &:hover {
                background-color: #fff;
                transition: all .5s;
            }

            &:hover .tabela__prog__info {
                color: #000;
                transition: all .5s;
            }
        }

       

        .tabela__prog__info {
            border-bottom: solid 1px #000;
            border-collapse: collapse;
            font-family: $fonte-corpo;
            font-weight: bold;
            padding: .4rem;
            font-size: 1rem;
            color: #fff;
        }

        
}

.swiper-button-next:after {
    color: #fff;
}

.swiper-button-prev:after {
    color: #fff;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
}