.programacao {
    background-color: $cor-section2;
    padding-bottom: 4rem;

        .prog__titulo {
            font-family: $fonte-subtitulo;
            font-size: 3rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 4rem;
            padding: 2rem;

                @include celular {
                    font-size: 2rem;
                }
        }

        .prog__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            justify-content: center;
        }

        .prog__card {
           
            text-align: center;
            width: 34.3rem;
        }

        .prog__card__titulo {
            font-family: $fonte-corpo;
            font-size: 3rem;
            color: #fff;
            box-shadow: 0 0 10px 0 #fff;
            cursor: pointer;
            background-color: $cor-section1;
            // margin-bottom: 2rem;
            // border-radius: 5px;
        }

        .tabela__prog {
            padding-top: 2rem;
            margin: 0 auto;
            width: 34rem;

            @include celular {
                width: 340px;
            }
        }

        .tabela__info__header {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 1.6rem;
            color: #fff;
        }

        .tabela__prog__body:hover {
            background-color: #fff;
            transition: all .5s;
        }

        .tabela__prog__info{
            border-bottom: solid 1px #000;
            border-collapse: collapse;
            font-family: $fonte-corpo;
            font-weight: bold;
            padding: .4rem;
            font-size: 1.2rem;
        }

        
}