.radio__web {
    background-color: $cor-section1;

    @include celular {
        padding-bottom: 2rem;
    }
  

        .radio__card {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
           

            @include celular {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 4rem;
                align-items: center;
            }
        }

        .radio__titulo--h1 {
            font-family: $fonte-subtitulo;
            background-color: $cor-section1;
            color: #fff;
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: 200;
            text-align: center;

            @include celular {
                font-size: 1.2rem;
            }
        }

        .radio__controle {
            text-align: center;
        }

        .radio__contato {
            display: flex;
            justify-content: center;
        }

        .radio__contato--link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .4rem;
            background-color: #29A71A;
            border-radius: 20px;
            border: 1px solid #fff;
            width: 200px;
            cursor: pointer;
            padding: .2rem 0;

            &:hover {
                background-color: $cor-section1;
                transition: all .5s;
            }



        }

        .radio__contato--whatsapp {
            width: 50px;
        }

        .radio__contato--p {
            font-family: $fonte-subtitulo;
            color: #fff;

        }

        .radio__tel {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 2rem;
            color: #000;
        }
}
