.radio__web {
    background-color: $cor-section2;

        .radio__card {
            // background-color: burlywood;
            // height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            align-items: center;
        }

        .titulo {
            font-family: $fonte-subtitulo;
            background-color: $cor-section1;
            color: #000;
            margin-bottom: 1.2rem;
            font-size: 2rem;
            box-shadow: 2px 2px 10px 2px #000;
            padding: .6rem;
            border-radius: 5px;

            @include celular {
                font-size: 1rem;
            }

                &:hover {
                    box-shadow: 2px 2px 50px 1px #000;
                    transition: all .6s;
                }
        }

        .radio__controle {
            text-align: center;
        }

        .radio__contato__info {
            margin-top: 4rem;
        }

        .radio__contato__aovivo {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 2rem;
        }

        .radio__contato {
            display: flex;
            gap: .2rem;
            justify-content: center;
            background-color: #29A71A;
            border-radius: 20px;
            padding: .4rem;

                &:hover {
                    background-color: $cor-section1;
                    transition: all .6s;
                    box-shadow: 1px 1px 10px 2px #000;
                }
        }

        .icone__whatsapp {
            width: 3.1rem;
        }

        .radio__tel {
            font-family: $fonte-corpo;
            font-weight: bold;
            font-size: 2rem;
            color: #000;
        }
}
