/************ VARIÁVEIS ************/
$cor-menu:#ffffff;
$cor-section1:#2D5D93;
$cor-section2:#74B3CE;
$fonte-titulo: 'Teko', sans-serif;
$fonte-subtitulo: 'Orbitron', sans-serif;
$fonte-corpo: 'Athiti', sans-serif;

/************ RESET ************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin celular {
    @media (min-width: 0px) and (max-width: 420px){
        @content;
    }
}

@mixin tablet {
    @media (min-width: 420px) and (max-width: 800px){
        @content;
    }
}

/************ CONTEÚDO DA PÁGINA ************/
@import "header";
@import "radio-header";
@import "patrocinadores-banner";
@import "patrocinadores-marcas";
@import "programacao";
@import "locutores";
